# 이론
## `Groupby()`

- map 함수를 통해 df 또는 series를 한번에 처리할 수 있지만, 
- 보통 groupby를 통해 그룹 처리를 한 후에 map 함수를 적용하는 경우가 대다수

## Groupwise analysis

In [1]:
import pandas as pd
pd.set_option("display.max_rows", 2)
reviews = pd.read_csv("data/winemag-data-130k-v2.csv", index_col=0)
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

### `reviews.groupby('column').column.count()`
    - `value_counts` 와 같은 역할을 함

In [5]:
reviews['points'].value_counts()

88     17207
       ...
100       19
Name: points, Length: 21, dtype: int64

In [17]:
reviews.groupby('points').agg({'title':'count'})

        title
points
80        397
81        692
82       1836
83       3025
84       6480
85       9530
86      12600
87      16933
88      17207
89      12226
90      15410
91      11359
92       9613
93       6489
94       3758
95       1535
96        523
97        229
98         77
99         33
100        19

In [8]:
reviews.groupby('points').count()

,country,description,designation,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
points,,,,,,,,,,,,
80,397,397,250,395,397,328,136,275,271,397,397,397
81,692,692,406,680,692,584,293,433,423,692,692,692
82,1835,1836,1087,1772,1835,1556,907,1054,1012,1836,1836,1836
83,3024,3025,1844,2886,3024,2503,1142,2112,2021,3025,3025,3025
84,6478,6480,3943,6099,6478,5320,2375,4395,4196,6480,6480,6480
85,9529,9530,5980,8902,9529,7722,3308,7133,6729,9530,9530,9530
86,12595,12600,8246,11745,12595,10361,4467,9580,9006,12600,12600,12600
87,16927,16933,11286,15767,16927,14293,6102,12871,12065,16933,16933,16933
88,17198,17207,11831,16014,17198,14503,6538,14356,13626,17207,17206,17207
89,12208,12226,8920,11324,12208,9998,4095,10660,10056,12226,12226,12226
90,15403,15410,11412,14361,15403,12747,6349,12946,12291,15410,15410,15410
91,11353,11359,8858,10564,11353,9583,5006,9765,9442,11359,11359,11359
92,9606,9613,7887,8871,9606,8185,4279,7833,7612,9613,9613,9613
93,6489,6489,5457,5935,6489,5611,2854,5408,5239,6489,6489,6489
94,3758,3758,3166,3449,3758,3317,1696,3018,2924,3758,3758,3758
95,1535,1535,1249,1406,1535,1332,623,1221,1190,1535,1535,1535
96,523,523,419,482,523,458,216,405,396,523,523,523
97,229,229,170,207,229,203,77,166,164,229,229,229
98,77,77,53,69,77,72,32,61,60,77,77,77
99,33,33,29,28,33,31,12,21,21,33,33,33
100,19,19,13,19,19,17,4,14,14,19,19,19

In [23]:
pd.set_option("display.max_rows", 22)
reviews.groupby('country').price.mean()

country
Argentina                 24.510117
Armenia                   14.500000
Australia                 35.437663
Austria                   30.762772
Bosnia and Herzegovina    12.500000
                            ...
Switzerland               85.285714
Turkey                    24.633333
US                        36.573464
Ukraine                    9.214286
Uruguay                   26.403670
Name: price, Length: 43, dtype: float64

In [18]:
# points columns으로 집계화 한 후, 최소 price 도출
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

### `apply()`함수와 결합

- 간편하게 원하는 정보 추출 가능!!

In [12]:
reviews.groupby('winery').title.count()

winery
1+1=3                   6
10 Knots                4
100 Percent Wine        3
1000 Stories            2
1070 Green              1
                       ..
Órale                   1
Öko                     2
Ökonomierat Rebholz     4
àMaurice               40
Štoka                   3
Name: title, Length: 16757, dtype: int64

In [31]:
pd.DataFrame(reviews.groupby('winery').title)

                         0                                                  1
0                    1+1=3  20319                       1+1=3 NV Rosé Spar...
1                 10 Knots  13150                10 Knots 2010 Viognier (P...
2         100 Percent Wine  29919            100 Percent Wine 2015 Moscato...
3             1000 Stories  30001    1000 Stories 2013 Bourbon Barrel Aged...
4               1070 Green  53228    1070 Green 2011 Sauvignon Blanc (Ruth...
...                    ...                                                ...
16752                Órale  28768    Órale 2011 Cabronita Red (Santa Ynez ...
16753                  Öko  14529    Öko 2013 Made With Organically Grown ...
16754  Ökonomierat Rebholz  6955      Ökonomierat Rebholz 2007 Von Rotlieg...
16755             àMaurice  2578      àMaurice 2013 Fred Estate Syrah (Wal...
16756                Štoka  10290       Štoka 2009 Izbrani Teran (Kras)
70...

[16757 rows x 2 columns]

In [35]:
reviews.groupby('winery').apply(lambda df: df.title)

winery
1+1=3     20319                        1+1=3 NV Rosé Sparkling (Cava)
          33657     1+1=3 NV Cygnus Brut Nature Reserva Made With ...
          55163                        1+1=3 NV Brut Sparkling (Cava)
          56109     1+1=3 NV Cygnus Brut Nature Reserva Made With ...
          63807          1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)
                                          ...
àMaurice  124544           àMaurice 2009 Syrah (Columbia Valley (WA))
          128023       àMaurice NV Pour Me Red (Columbia Valley (WA))
Štoka     10290                       Štoka 2009 Izbrani Teran (Kras)
          70504                    Štoka 2011 Grganja Vitovska (Kras)
          70505                       Štoka 2011 Izbrani Teran (Kras)
Name: title, Length: 129971, dtype: object

In [30]:
reviews[reviews['winery']=='Štoka']['title']

10290       Štoka 2009 Izbrani Teran (Kras)
70504    Štoka 2011 Grganja Vitovska (Kras)
70505       Štoka 2011 Izbrani Teran (Kras)
Name: title, dtype: object

In [37]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
# 즉, 위에서 도출된 결과에서 iloc[0] 한 행씩 출력!!!!

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [41]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

### `groupby()`의 method `agg()`

- 앞에서는 count(), sum() 의 함수를 달리 썼지만, 
- df를 동시에 다른 함수를 적용하게 해주는 .. 집계 같은 역할!

In [44]:
reviews.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                3800.0   4.0   230.0
Armenia                     2.0  14.0    15.0
Australia                2329.0   5.0   850.0
Austria                  3345.0   7.0  1100.0
Bosnia and Herzegovina      2.0  12.0    13.0
...                         ...   ...     ...
Switzerland                 7.0  21.0   160.0
Turkey                     90.0  14.0   120.0
US                      54504.0   4.0  2013.0
Ukraine                    14.0   6.0    13.0
Uruguay                   109.0  10.0   130.0

[43 rows x 3 columns]

## Multi-indexes

- groupby 에서 여러개의 column으로 할 경우, multi indexes 가 생김!

In [39]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [40]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [46]:
for i in mi:
    print(i)

('Argentina', 'Mendoza Province')
('Argentina', 'Other')
('Armenia', 'Armenia')
('Australia', 'Australia Other')
('Australia', 'New South Wales')
('Australia', 'South Australia')
('Australia', 'Tasmania')
('Australia', 'Victoria')
('Australia', 'Western Australia')
('Austria', 'Austria')
('Austria', 'Burgenland')
('Austria', 'Carnuntum')
('Austria', 'Eisenberg')
('Austria', 'Kamptal')
('Austria', 'Kremstal')
('Austria', 'Leithaberg')
('Austria', 'Mittelburgenland')
('Austria', 'Neusiedlersee')
('Austria', 'Niederösterreich')
('Austria', 'Steiermark')
('Austria', 'Südburgenland')
('Austria', 'Südoststeiermark')
('Austria', 'Südsteiermark')
('Austria', 'Thermenregion')
('Austria', 'Traisental')
('Austria', 'Vienna')
('Austria', 'Wachau')
('Austria', 'Wagram')
('Austria', 'Wagram-Donauland')
('Austria', 'Weinland Österreich')
('Austria', 'Weinviertel')
('Austria', 'Wiener Gemischter Satz')
('Austria', 'Österreichischer Perlwein')
('Austria', 'Österreichischer Sekt')
('Bosnia and Herzegovina', 'Mostar')
('Brazil', 'Brazil')
('Brazil', 'Campanha')
('Brazil', 'Pinto Bandeira')
('Brazil', 'Santa Catarina')
('Brazil', 'Serra Gaúcha')
('Brazil', 'Serra do Sudeste')
('Brazil', 'Vale Trentino')
('Brazil', 'Vale dos Vinhedos')
('Bulgaria', 'Black Sea Coastal')
('Bulgaria', 'Bulgaria')
('Bulgaria', 'Danube River Plains')
('Bulgaria', 'Thracian Valley')
('Canada', 'British Columbia')
('Canada', 'Canada Other')
('Canada', 'Ontario')
('Chile', 'Aconcagua Costa')
('Chile', 'Aconcagua Valley')
('Chile', 'Apalta')
('Chile', 'Buin')
('Chile', 'Bío Bío Valley')
('Chile', 'Cachapoal Valley')
('Chile', 'Casablanca & Leyda Valleys')
('Chile', 'Casablanca Valley')
('Chile', 'Casablanca-Curicó Valley')
('Chile', 'Cauquenes Valley')
('Chile', 'Central Valley')
('Chile', 'Chile')
('Chile', 'Choapa Valley')
('Chile', 'Coelemu')
('Chile', 'Colchagua Costa')
('Chile', 'Colchagua Valley')
('Chile', 'Curicó Valley')
('Chile', 'Curicó and Leyda Valleys')
('Chile', 'Curicó and Maipo Valleys')
('Chile', 'Elqui Valley')
('Chile', 'Itata Valley')
('Chile', 'Leyda Valley')
('Chile', 'Leyda Valley-Maipo Valley')
('Chile', 'Limarí Valley')
('Chile', 'Lolol Valley')
('Chile', 'Loncomilla Valley')
('Chile', 'Lontué Valley')
('Chile', 'Maipo Valley')
('Chile', 'Maipo Valley-Colchagua Valley')
('Chile', 'Malleco')
('Chile', 'Marchigue')
('Chile', 'Maule Valley')
('Chile', 'Molina')
('Chile', 'Peumo')
('Chile', 'Pirque')
('Chile', 'Puente Alto')
('Chile', 'Rapel Valley')
('Chile', 'Requinoa')
('Chile', 'Rio Claro')
('Chile', 'Sagrada Familia')
('Chile', 'San Antonio')
('Chile', 'San Clemente')
('Chile', 'Santa Cruz')
('China', 'China')
('Croatia', 'Croatia')
('Croatia', 'Dalmatian Coast')
('Croatia', 'Dingač')
('Croatia', 'Hrvatsko Primorje')
('Croatia', 'Hvar')
('Croatia', 'Istria')
('Croatia', 'Korčula')
('Croatia', 'Krk')
('Croatia', 'Kutjevo')
('Croatia', 'Middle and South Dalmatia')
('Croatia', 'North Dalmatia')
('Croatia', 'Peljesac')
('Croatia', 'Podunavlje')
('Cyprus', 'Commandaria')
('Cyprus', 'Cyprus')
('Cyprus', 'Kathikas')
('Cyprus', 'Lemesos')
('Cyprus', 'Pafos')
('Cyprus', 'Pitsilia Mountains')
('Czech Republic', 'Moravia')
('Egypt', 'Egypt')
('England', 'England')
('France', 'Alsace')
('France', 'Beaujolais')
('France', 'Bordeaux')
('France', 'Burgundy')
('France', 'Champagne')
('France', 'France Other')
('France', 'Languedoc-Roussillon')
('France', 'Loire Valley')
('France', 'Provence')
('France', 'Rhône Valley')
('France', 'Southwest France')
('Georgia', 'Georgia')
('Georgia', 'Kakheti')
('Germany', 'Ahr')
('Germany', 'Baden')
('Germany', 'Franken')
('Germany', 'Germany')
('Germany', 'Landwein Rhein')
('Germany', 'Mittelrhein')
('Germany', 'Mosel')
('Germany', 'Mosel-Saar-Ruwer')
('Germany', 'Nahe')
('Germany', 'Pfalz')
('Germany', 'Rheingau')
('Germany', 'Rheinhessen')
('Germany', 'Württemberg')
('Greece', 'Achaia')
('Greece', 'Agioritikos')
('Greece', 'Amindeo')
('Greece', 'Amyndeon')
('Greece', 'Arcadia')
('Greece', 'Atalanti Valley')
('Greece', 'Attica')
('Greece', 'Beotia')
('Greece', 'Central Greece')
('Greece', 'Cephalonia')
('Greece', 'Chalkidiki')
('Greece', 'Corinth')
('Greece', 'Corinthia')
('Greece', 'Crete')
('Greece', 'Cyclades')
('Greece', 'Drama')
('Greece', 'Epanomi')
('Greece', 'Florina')
('Greece', 'Goumenissa')
('Greece', 'Greece')
('Greece', 'Halkidiki')
('Greece', 'Imathia')
('Greece', 'Ismarikos')
('Greece', 'Korinthia')
('Greece', 'Krania Olympus')
('Greece', 'Lakonia')
('Greece', 'Lesbos')
('Greece', 'Letrinon')
('Greece', 'Limnos')
('Greece', 'Macedonia')
('Greece', 'Mantinia')
('Greece', 'Markopoulo')
('Greece', 'Mavrodaphne de Cephalonie')
('Greece', 'Mavrodaphne of Patras')
('Greece', 'Messinia')
('Greece', 'Monemvasia')
('Greece', 'Mount Athos')
('Greece', 'Muscat of Kefallonian')
('Greece', 'Muscat of Patras')
('Greece', 'Naoussa')
('Greece', 'Nemea')
('Greece', 'Pageon')
('Greece', 'Pangeon')
('Greece', 'Patras')
('Greece', 'Peloponnese')
('Greece', 'Rapsani')
('Greece', 'Retsina')
('Greece', 'Samos')
('Greece', 'Santorini')
('Greece', 'Sithonia')
('Greece', 'Sterea Ellada')
('Greece', 'Thessalikos')
('Greece', 'Thraki')
('Greece', 'Vin de Pays de Velvendo')
('Hungary', 'Eger')
('Hungary', 'Hungary')
('Hungary', 'Mátra')
('Hungary', 'Sopron')
('Hungary', 'Szekszárd')
('Hungary', 'Tokaj')
('Hungary', 'Tokaji')
('Hungary', 'Villány')
('India', 'Nashik')
('Israel', 'Dan')
('Israel', 'Ella Valley')
('Israel', 'Galil')
('Israel', 'Galilee')
('Israel', 'Golan Heights')
('Israel', 'Haut-Judeé')
('Israel', 'Israel')
('Israel', 'Jerusalem Hills')
('Israel', 'Judean Hills')
('Israel', 'Negev')
('Israel', 'Negev Hills')
('Israel', 'Samson')
('Israel', 'Shomron')
('Israel', 'Upper Galilee')
('Italy', 'Central Italy')
('Italy', 'Italy Other')
('Italy', 'Lombardy')
('Italy', 'Northeastern Italy')
('Italy', 'Northwestern Italy')
('Italy', 'Piedmont')
('Italy', 'Sicily & Sardinia')
('Italy', 'Southern Italy')
('Italy', 'Tuscany')
('Italy', 'Veneto')
('Lebanon', 'Bekaa Valley')
('Lebanon', 'Lebanon')
('Luxembourg', 'Moselle Luxembourgeoise')
('Macedonia', 'Tikves')
('Mexico', 'San Antonio de las Minas Valley')
('Mexico', 'San Vicente')
('Mexico', 'Valle de Guadalupe')
('Moldova', 'Cahul')
('Moldova', 'Codru Region')
('Moldova', 'Moldova')
('Morocco', 'Guerrouane')
('Morocco', 'Morocco')
('Morocco', 'Zenata')
('New Zealand', 'Awatere Valley')
('New Zealand', 'Canterbury')
('New Zealand', 'Central Otago')
('New Zealand', 'East Coast')
('New Zealand', 'Gisborne')
('New Zealand', 'Gladstone')
('New Zealand', "Hawke's Bay")
('New Zealand', 'Kumeu')
('New Zealand', 'Marlborough')
('New Zealand', 'Martinborough')
('New Zealand', 'Nelson')
('New Zealand', 'New Zealand')
('New Zealand', 'South Island')
('New Zealand', 'Waiheke Island')
('New Zealand', 'Waipara')
('New Zealand', 'Waipara Valley')
('New Zealand', 'Wairarapa')
('New Zealand', 'Wairau Valley')
('New Zealand', 'Waitaki Valley')
('Peru', 'Ica')
('Portugal', 'Alenquer')
('Portugal', 'Alentejano')
('Portugal', 'Alentejo')
('Portugal', 'Alenteo')
('Portugal', 'Algarve')
('Portugal', 'Bairrada')
('Portugal', 'Beira Atlantico')
('Portugal', 'Beira Interior')
('Portugal', 'Beiras')
('Portugal', 'Bucelas')
('Portugal', 'Colares')
('Portugal', 'Douro')
('Portugal', 'Duriense')
('Portugal', 'Dão')
('Portugal', 'Estremadura')
('Portugal', 'Lisboa')
('Portugal', 'Madeira')
('Portugal', 'Minho')
('Portugal', 'Moscatel de Setúbal')
('Portugal', 'Moscatel do Douro')
('Portugal', 'Obidos')
('Portugal', 'Palmela')
('Portugal', 'Península de Setúbal')
('Portugal', 'Port')
('Portugal', 'Portugal')
('Portugal', 'Portuguese Table Wine')
('Portugal', 'Ribatejano')
('Portugal', 'Ribatejo')
('Portugal', 'Setubal')
('Portugal', 'Table wine')
('Portugal', 'Tejo')
('Portugal', 'Terras do Dão')
('Portugal', 'Terras do Sado')
('Portugal', 'Trás-os-Montes')
('Portugal', 'Távora-Varosa')
('Portugal', 'Vinho Espumante')
('Portugal', 'Vinho Espumante de Qualidade')
('Portugal', 'Vinho Licoroso')
('Portugal', 'Vinho Verde')
('Portugal', 'Vinho da Mesa')
('Romania', 'Dealu Mare')
('Romania', 'Dealurile Hușilor')
('Romania', 'Dealurile Munteniei')
('Romania', 'Jidvei')
('Romania', 'Murfatlar')
('Romania', 'Panciu')
('Romania', 'Recas')
('Romania', 'Romania')
('Romania', 'Sebes')
('Romania', 'Tarnave')
('Romania', 'Viile Timis')
('Romania', 'Viile Timisului')
('Romania', 'Vânju Mare')
('Serbia', 'Fruška Gora')
('Serbia', 'Pocerina')
('Serbia', 'Župa')
('Slovakia', 'Muzla')
('Slovenia', 'Brda')
('Slovenia', 'Dolenjska')
('Slovenia', 'Goriska Brda')
('Slovenia', 'Kras')
('Slovenia', 'Primorska')
('Slovenia', 'Slovenia')
('Slovenia', 'Slovenska Istra')
('Slovenia', 'Vipavska Dolina')
('Slovenia', 'Štajerska')
('South Africa', 'Bot River')
('South Africa', 'Breede River Valley')
('South Africa', 'Breedekloof')
('South Africa', 'Cape Agulhas')
('South Africa', 'Cape Peninsula')
('South Africa', 'Cape South Coast')
('South Africa', 'Cederberg')
('South Africa', 'Ceres Plateau')
('South Africa', 'Coastal Region')
('South Africa', 'Constantia')
('South Africa', 'Darling')
('South Africa', 'Devon Valley')
('South Africa', 'Durbanville')
('South Africa', 'Eilandia')
('South Africa', 'Elgin')
('South Africa', 'Elim')
('South Africa', 'Franschhoek')
('South Africa', 'Groenekloof')
('South Africa', 'Helderberg')
('South Africa', 'Hemel en Aarde')
('South Africa', 'Jonkershoek Valley')
('South Africa', 'Lutzville Valley')
('South Africa', 'Malgas')
('South Africa', 'Northern Cape')
('South Africa', 'Olifants River')
('South Africa', 'Overberg')
('South Africa', 'Paardeberg')
('South Africa', 'Paarl')
('South Africa', 'Philadelphia')
('South Africa', 'Piekenierskloof')
('South Africa', 'Polkadraai Hills')
('South Africa', 'Robertson')
('South Africa', 'Simonsberg-Paarl')
('South Africa', 'Simonsberg-Stellenbosch')
('South Africa', 'South Africa')
('South Africa', 'Stellenbosch')
('South Africa', 'Swartland')
('South Africa', 'Tulbagh')
('South Africa', 'Vlootenburg')
('South Africa', 'Walker Bay')
('South Africa', 'Wellington')
('South Africa', 'Western Cape')
('Spain', 'Andalucia')
('Spain', 'Catalonia')
('Spain', 'Central Spain')
('Spain', 'Galicia')
('Spain', 'Levante')
('Spain', 'Northern Spain')
('Spain', 'Spain Other')
('Spain', 'Spanish Islands')
('Switzerland', 'Neuchâtel')
('Switzerland', 'Switzerland')
('Switzerland', 'Ticino')
('Switzerland', 'Valais')
('Turkey', 'Aegean')
('Turkey', 'Ankara')
('Turkey', 'Cappadocia')
('Turkey', 'Elazığ')
('Turkey', 'Elazığ-Diyarbakir')
('Turkey', 'Thrace')
('Turkey', 'Turkey')
('Turkey', 'Urla-Thrace')
('US', 'America')
('US', 'Arizona')
('US', 'California')
('US', 'Colorado')
('US', 'Connecticut')
('US', 'Hawaii')
('US', 'Idaho')
('US', 'Illinois')
('US', 'Iowa')
('US', 'Kentucky')
('US', 'Massachusetts')
('US', 'Michigan')
('US', 'Missouri')
('US', 'Nevada')
('US', 'New Jersey')
('US', 'New Mexico')
('US', 'New York')
('US', 'North Carolina')
('US', 'Ohio')
('US', 'Oregon')
('US', 'Pennsylvania')
('US', 'Rhode Island')
('US', 'Texas')
('US', 'Vermont')
('US', 'Virginia')
('US', 'Washington')
('US', 'Washington-Oregon')
('Ukraine', 'Ukraine')
('Uruguay', 'Atlantida')
('Uruguay', 'Canelones')
('Uruguay', 'Juanico')
('Uruguay', 'Montevideo')
('Uruguay', 'Progreso')
('Uruguay', 'San Jose')
('Uruguay', 'Uruguay')

In [57]:
# 인덱스를 풀어주는 함수

countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

## Sorting

- 정렬
- `df.sort_values(by='column_name')` : 데이터프레임을 column에 따라 정렬 
    - `ascending=False` : 내림차순 
    - `ascending=True` : 오름차순 (디폴트값!!)
- `df.sort_index()` : 데이터프레임을 인덱스 순으로 재정렬

In [58]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

In [59]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [61]:
# 2개 컬럼으로 정렬 _ country 다음 , len 순으로 정렬
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

# 실습

In [65]:
print(reviews['taster_twitter_handle'].value_counts())
print(type(reviews['taster_twitter_handle'].value_counts()))

@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64
<class 'pandas.core.series.Series'>

In [68]:
print(reviews.groupby('taster_twitter_handle').size())
type(reviews.groupby('taster_twitter_handle').size())

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

pandas.core.series.Series

- value_counts 와 groupby 후 size 또는 groupby 후 count 모두 series 를 반환!!

#### 가장 좋은 와인은? 가격은 오름차순으로 정렬하고, point는 최대

- 두개의 변수를 sort_values하면 각자 다른 정렬을 할 수 없음
    - 오른, 오른 
    - 내림, 내림 만 가능

In [73]:
reviews.sort_values(['price','points'], ascending=False)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
80290,France,This ripe wine shows plenty of blackberry frui...,NaN,88,3300.0,Bordeaux,Médoc,NaN,Roger Voss,@vossroger,Château les Ormes Sorbet 2013 Médoc,Bordeaux-style Red Blend,Château les Ormes Sorbet
15840,France,The wine is a velvet glove in an iron fist. Th...,NaN,96,2500.0,Bordeaux,Pomerol,NaN,Roger Voss,@vossroger,Château Pétrus 2014 Pomerol,Bordeaux-style Red Blend,Château Pétrus
98380,France,"A superb wine from a great year, this is power...",NaN,96,2500.0,Burgundy,La Romanée,NaN,Roger Voss,@vossroger,Domaine du Comte Liger-Belair 2010 La Romanée,Pinot Noir,Domaine du Comte Liger-Belair
120391,US,The nose on this single-vineyard wine from a s...,Roger Rose Vineyard,91,2013.0,California,Arroyo Seco,Central Coast,Matt Kettmann,@mattkettmann,Blair 2013 Roger Rose Vineyard Chardonnay (Arr...,Chardonnay,Blair
65352,France,This extravagantly perfumed wine has great jui...,NaN,97,2000.0,Bordeaux,Pomerol,NaN,Roger Voss,@vossroger,Château Pétrus 2011 Pomerol,Bordeaux-style Red Blend,Château Pétrus
...,...,...,...,...,...,...,...,...,...,...,...,...,...
107767,Italy,"A boxed wine, this blend of Pinot Noir and Mer...",Pinot Noir-Merlot,81,NaN,Veneto,Venezia,NaN,NaN,NaN,Duca del Frassino 2010 Pinot Noir-Merlot Red (...,Red Blend,Duca del Frassino
121877,France,"This is a yeasty wine, with the fruit less evi...",NaN,81,NaN,Burgundy,Bourgogne,NaN,Roger Voss,@vossroger,Domaine Luquet 2010 Bourgogne,Chardonnay,Domaine Luquet
123461,Italy,There aren't that many organic Proseccos out t...,Brut,81,NaN,Veneto,Prosecco,NaN,NaN,NaN,La Jara NV Brut (Prosecco),Glera,La Jara
117025,Portugal,A curious sauerkraut perfume leads to a hard e...,NaN,80,NaN,Lisboa,NaN,NaN,Roger Voss,@vossroger,Quinta do Pinto 2008 Touriga Nacional (Lisboa),Touriga Nacional,Quinta do Pinto
123541,Italy,"This Valpolicella blend opens with an aged, br...",Corte Antica,80,NaN,Veneto,Valpolicella Classico Superiore,NaN,NaN,NaN,Cantine Benedetti 2008 Corte Antica (Valpolic...,"Corvina, Rondinella, Molinara",Cantine Benedetti

In [81]:
# 가격으로 groupby 후, points 최대인 경우
reviews.groupby(['price'])['points'].max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

#### 와인의 `variety` 에서의 최소 최댓값 도출

In [51]:
reviews.groupby('variety').agg({'price':'min'})

             price
variety
Abouriou      15.0
Agiorgitiko   10.0
Aglianico      6.0
Aidani        27.0
Airen          8.0
...            ...
Zinfandel      5.0
Zlahtina      13.0
Zweigelt       9.0
Çalkarası     19.0
Žilavka       15.0

[707 rows x 1 columns]

In [55]:
df

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [58]:
df = reviews.groupby('variety').price.agg([min, max])
df.index

Index(['Abouriou', 'Agiorgitiko', 'Aglianico', 'Aidani', 'Airen', 'Albana',
       'Albanello', 'Albariño', 'Albarossa', 'Aleatico',
       ...
       'Yapincak', 'Zelen', 'Zibibbo', 'Zierfandler', 'Zierfandler-Rotgipfler',
       'Zinfandel', 'Zlahtina', 'Zweigelt', 'Çalkarası', 'Žilavka'],
      dtype='object', name='variety', length=707)

In [56]:
reviews.groupby('variety').price.agg([min, max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

#### 와인의 variety의 최소 최대 정렬
    -  in descending order based on minimum price, then on maximum price

In [88]:
variety_about = reviews.groupby('variety').price.agg([min, max])
variety_about.sort_values(by=['min','max'], ascending=False)

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

#### groupby 후 mean , describe() 통해 집계별 분석 용이

In [93]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

In [94]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64